<p style="color: green"><%= notice %></p>

<%= render @doctor %>

<div>
  <%= link_to "Edit this doctor", edit_doctor_path(@doctor) %> |
  <%= link_to "Back to doctors", doctors_path %>
  <%= link_to "Book Slot", new_doctor_slot_path(@doctor) %>

  <%= button_to "Destroy this doctor", @doctor, method: :delete %>
</div>
